conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
src/bin/
**/cmake_install.cmake
**/conan.lock
**/conanbuildinfo.cmake
**/conanbuildinfo.txt
**/conaninfo.txt
**/graph_info.json
**/stocks-*.txt
**/build/
bin/
